// Profile Edit Component Styles

.social-input {
    &::placeholder {
        /* Slightly lighter gray in both light & dark themes */
        color: var(--text-color-secondary);
        opacity: 0.7;
    }
}
