<div class="company-storage-folder">
  <div class="company-storage-folder__toolbar flex align-items-center gap-2 mb-3 flex-wrap">
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-arrow-left"
      [label]="'fileSystem.osfs.backToFileSystems' | translate"
      [routerLink]="['/document-control', 'storage-content-management', 'company-storage']"
      class="p-button-outlined">
    </button>
  </div>
  <app-folder-management *ngIf="fileSystemId > 0" [fileSystemId]="fileSystemId"></app-folder-management>
</div>
