<div class="card">
    <div class="flex justify-content-between align-items-center mb-4">
        <h2>Notifications Management</h2>
    </div>

    <p-tabView [(activeIndex)]="activeTabIndex">
        <!-- Notifications Tab -->
        <p-tabPanel header="Notifications">
            <app-notifications-list></app-notifications-list>
        </p-tabPanel>



        <!-- Categories Tab -->
        <p-tabPanel header="Categories">
            <app-categories-list></app-categories-list>
        </p-tabPanel>

        <!-- Types Tab -->
        <p-tabPanel header="Types">
            <app-types-list></app-types-list>
        </p-tabPanel>
    </p-tabView>
</div>

<p-toast></p-toast>