<div class="card">
    <h2>{{ isEdit ? 'Edit Entity' : 'Create Entity' }}</h2>

    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="grid">
            <div class="col-12 md:col-6">
                <div class="field p-fluid">
                    <label for="code">Entity Code <span class="text-red-500">*</span></label>
                    <input id="code" type="text" pInputText formControlName="code"
                        [class.ng-invalid]="submitted && f['code'].invalid" placeholder="Enter entity code" />
                    <small class="p-error" *ngIf="submitted && f['code'].invalid && codeError">
                        {{ codeError }}
                    </small>
                </div>
            </div>

            <div class="col-12 md:col-6">
                <div class="field p-fluid">
                    <label for="name">Company Name <span class="text-red-500">*</span></label>
                    <input id="name" type="text" pInputText formControlName="name"
                        [class.ng-invalid]="submitted && f['name'].invalid" placeholder="Enter company name" />
                    <small class="p-error" *ngIf="submitted && f['name'].invalid && nameError">
                        {{ nameError }}
                    </small>
                </div>
            </div>

            <div class="col-12 md:col-6">
                <div class="field p-fluid">
                    <label for="description">Description <span class="text-red-500">*</span></label>
                    <textarea id="description" rows="4" pInputTextarea formControlName="description"
                        [class.ng-invalid]="submitted && f['description'].invalid"
                        placeholder="Add a clear description for this entity"></textarea>
                    <small class="p-error" *ngIf="submitted && f['description'].invalid">
                        Description is required
                    </small>
                </div>
            </div>

            <div class="col-12 md:col-6" *ngIf="showParentSelector">
                <div class="field p-fluid">
                    <label for="parentEntity">Parent Entity</label>
                    <p-dropdown id="parentEntity" [options]="parentEntities" optionLabel="Name" optionValue="ID"
                        placeholder="Select parent entity" formControlName="parentEntityId">
                    </p-dropdown>
                </div>
            </div>

            <div class="col-12 md:col-6" *ngIf="showIsPersonal">
                <div class="field flex flex-column p-fluid">
                    <label for="isPersonal">Personal Entity?</label>
                    <p-inputSwitch id="isPersonal" formControlName="isPersonal"></p-inputSwitch>
                </div>
            </div>
        </div>

        <div class="flex justify-content-end gap-2 mt-4">
            <p-button label="Cancel" icon="pi pi-times" class="p-button-secondary" (onClick)="cancel()"
                [disabled]="loading">
            </p-button>
            <p-button [label]="isEdit ? 'Update' : 'Save'" icon="pi pi-check" type="submit" [loading]="loading"
                [disabled]="loading">
            </p-button>
        </div>
    </form>
</div>

<p-toast></p-toast>