<div class="card">
    <div class="flex justify-content-between align-items-center mb-4">
        <h3>Notification Types</h3>
    </div>

    <div style="position: relative;">
        <!-- Skeleton: same table structure as p-table (ID, Title 200px, Description 300px, Urgency 150px, Example 250px) -->
        <div *ngIf="tableLoadingSpinner" class="datatable-skeleton-wrapper">
            <table class="datatable-skeleton">
                <colgroup>
                    <col style="width: 80px">
                    <col style="width: 200px">
                    <col style="width: 300px">
                    <col style="width: 150px">
                    <col style="width: 250px">
                </colgroup>
                <thead>
                    <tr>
                        <th><p-skeleton height="1.25rem"></p-skeleton></th>
                        <th><p-skeleton height="1.25rem"></p-skeleton></th>
                        <th><p-skeleton height="1.25rem"></p-skeleton></th>
                        <th><p-skeleton height="1.25rem"></p-skeleton></th>
                        <th><p-skeleton height="1.25rem"></p-skeleton></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of [1,2,3,4,5,6,7,8]">
                        <td><p-skeleton height="2rem"></p-skeleton></td>
                        <td><p-skeleton height="2rem"></p-skeleton></td>
                        <td><p-skeleton height="2rem"></p-skeleton></td>
                        <td><p-skeleton height="2rem"></p-skeleton></td>
                        <td><p-skeleton height="2rem"></p-skeleton></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <p-table *ngIf="!tableLoadingSpinner" #typesTable [value]="types" [paginator]="false" responsiveLayout="scroll"
            [loading]="!!(isLoading$ | async)">

            <ng-template pTemplate="header">
                <tr>
                    <th>ID</th>
                    <th style="width: 200px;">Title</th>
                    <th style="width: 300px;">Description</th>
                    <th style="width: 150px;">Urgency</th>
                    <th style="width: 250px;">Example</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-type>
                <tr>
                    <td>
                        <p-tag [value]="'#' + type.id" severity="info"></p-tag>
                    </td>
                    <td>
                        <span class="font-semibold">{{ type.name }}</span>
                    </td>
                    <td>
                        <span class="text-600">{{ type.nameRegional || 'No description' }}</span>
                    </td>
                    <td>
                        <p-tag [value]="type.urgency || 'N/A'" [severity]="getUrgencySeverity(type.urgency)"></p-tag>
                    </td>
                    <td>
                        <span class="text-600 font-italic">{{ type.example || 'No example' }}</span>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="5" class="text-center">No notification types found</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-toast></p-toast>