// Selected row highlight
::ng-deep .selected-row {
    background-color: var(--primary-50) !important;
}

::ng-deep .selected-row:hover {
    background-color: var(--primary-100) !important;
}






